{% load humanize %}
{% load erieiron_common_tags %}

<div class="d-flex justify-content-between align-items-end mb-3">
    <label>Total Bill (so far): ${{ llm_requests_total_cost|default_if_none:0|floatformat:2 }}</label>
    <input id="txt_llm_search" type="text" placeholder="search llm requests" class="form-control w-25" />
</div>

<div class="erie_infinite_scroll"
     data-fetch_url="{{ llm_requests_fetch_url }}"
     data-sort_by="{{ llm_requests_sort_field|default:'timestamp' }}"
     data-has_more="{% if llm_requests_has_more %}true{% else %}false{% endif %}"
     data-page_number="0">
    {% include 'llm_requests/request_cards_partial.html' with llm_requests=llm_requests %}
</div>
