{% extends "_base_templates/_base_template.html" %}
{% block content %}
    {% for business in businesses %}
        <h1>{{ business.name }}</h1>

        {% for initiative in business.initiatives %}
            <h2>{{ initiative.title }}</h2>
            <table style="width: 100%">
                {% for task in initiative.tasks %}
                    {% include "_task_row.html" with task=task %}
                {% endfor %}
            </table>
        {% endfor %}
    {% endfor %}
{% endblock %}
