Django==5.1.6
Jinja2
PyJWT
PyJWT[crypto]>=2.0.0
Pygments
anthropic
asgiref
black
boto3==1.34.148
botocore
cachetools
cfn-lint
cryptography>=3.4
django-ratelimit
django-stubs
djangorestframework
dnspython>=2.6.1
fireworks-ai
google-analytics-data
google-api-core==2.11.1
google-api-python-client
google-auth
google-auth-oauthlib
google-cloud-bigquery
google-generativeai
gunicorn
huggingface_hub<0.14
iterative-stratification
jsonschema>=4.0.0
llvmlite>=0.39
markdown
matplotlib
mido
nltk
numba>=0.57
numpy<2.0.0
onnx2torch
onnx==1.16.2
onnxruntime==1.20.1
openai>=1.102.0
pandas==2.3.1
pgvector
pillow
psutil
psycopg2-binary
pydot
pydub
pygments
pytest-django
python-dateutil>=2.8.0
python-decouple>=3.8
python-hcl2>=4.3.0
rapidfuzz
requests
resampy>=0.4
ruptures
scikit-learn>=1.0.0
scipy
sentence-transformers==2.2.2
sqlparse
svgwrite
tf2onnx
tiktoken
tree_sitter_languages
tree-sitter==0.25.2
torch>=2.6
torchvggish
transformers
