Django==5.1.6
cfn-lint
PyJWT
PyJWT[crypto]>=2.0.0
Pygments
anthropic
asgiref
black
boto3
botocore
cachetools
cfn-lint
cryptography>=3.4
django-ratelimit
django-stubs
djangorestframework
fireworks-ai
google-analytics-data
google-api-core==2.11.1
google-api-python-client
google-auth
google-auth-oauthlib
google-cloud-bigquery
google-generativeai
gunicorn
iterative-stratification
llvmlite>=0.39
markdown
matplotlib
mido
nltk
numba>=0.57
numpy<2.0.0
onnx2torch
onnx==1.16.2
onnxruntime==1.20.1
openai>=0.27.0
pandas
pgvector
pillow
psutil
psycopg2-binary
pydot
pydub
pytest-django
python-decouple
rapidfuzz
requests
resampy>=0.4
ruptures
scipy
sqlparse
svgwrite
tf2onnx
tiktoken
torch>=2.6
torchvggish
transformers
tree-sitter<=0.20