body{
  background-color: $body-bg;
  color: $body-color;

  a:hover{
    color: $link-hover-color !important;
  }

  .pre_log_output{
    max-height: 400px;
    overflow-y: auto;
  }

  pre{
    .highlight{
      background: transparent;
      margin-top: 1rem;
      .s1, .s2{
        color: darkcyan;
      }
      .nn{
        color:burlywood;
      }
      .nf{
        font-weight: bold;
        color: cornflowerblue;
      }
    }
  }

  #top_nav{
    padding-left: 2rem;
    padding-right: 2rem;
    .erieiron-logo{
      height: 2rem;
      width: 2rem;
    }
  }

  .nav-tabs{
    margin-top: 1rem;
  }

  #main-content-container{
    margin: 0 2rem !important;
    margin-top: -.5rem !important;
  }
}

.markdown-container{
  h1{
    font-size: 1.5rem;
  }
  h2{
    font-size: 1.25rem;
  }
  h3{
    font-size: 1rem;
  }
  h4{
    font-size: 1rem;
  }
  h5{
    font-size: 1rem;
  }
}