{% load erieiron_common_tags %}
{% load static %}

<nav id="top_nav" class="navbar navbar-expand-sm d-flex justify-content-between"
     {% if breadcrumbs %}style="margin-top: -0.70rem"{% endif %}>
    <div id="top_nav_leftpart" class="d-flex justify-content-start align-items-center">
        <div class="logo top_nav--item pe-0">
            <a class="navbar-brand" href="{% url "view_home" %}">
                <img src="{% static "img/logo_no_text_reversed.png" %}" alt="Home" class="erieiron-logo">
            </a>
        </div>

        <nav aria-label="breadcrumb" class="">
            <ol class="breadcrumb pt-3">
                {% for bc in breadcrumbs %}
                    <li class="breadcrumb-item">
                        <a href="{{ bc.url }}">{{ bc.label|title }}</a>
                    </li>
                {% endfor %}
            </ol>
        </nav>
    </div>
</nav>
