{% load static %}
{% if not no_header %}
    <!DOCTYPE html>
    <html lang="en" data-bs-theme="dark">
    {% include '_base_templates/_base_head.html' %}
    <body>
    {% include '_base_templates/_base_top_nav.html' %}
    <div class="main-container">
    <main id="main-content-container">
{% endif %}

{% if messages %}
  <div class="container mt-3">
    {% for message in messages %}
      <div class="alert alert-{{ message.tags|default:'info' }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
  </div>
{% endif %}

{% block content %}
{% endblock %}

<form id="action_form">
    {% csrf_token %}
</form>

{% if not no_header %}
    </main>
    </div>

{#    {% include '_base_templates/_base_modals.html' %}#}

    {% include '_base_templates/_base_scripting_compontents.html' %}
    </body>
    </html>
{% endif %}
