{% load erieiron_common_tags %}
<div class="list-group sidebar-tabs-scroll sidebar-modern shadow-lg" role="tablist">
    <div class="d-flex align-items-center justify-content-between px-3 mb-3">
        <h3 class="sidebar-modern__title mb-0">{{ sidebar_title }}</h3>
    </div>
    {% for tab in tabs|dedupe_divers %}
        {% if tab.is_divider %}
            <div class="list-group-item disabled text-center sidebar-modern__divider">
                <hr class="my-0">
            </div>
        {% else %}
            <a class="
                list-group-item 
                list-group-item-action{% if tab.slug == active_tab %} active{% endif %}
                {% if not tab.available %}
                disabled
                {% endif %}
                "
               style="white-space: nowrap"
               id="{{ tab.slug }}-tab"
                {% if tab.available %}
                   href="{{ tab.url }}"
               {% else %}
                   href="#"
               {% endif %}
            
            >
                <span class="sidebar-modern__label">{{ tab.label }}</span>
                {% if tab.badge %}
                    <span class="badge text-bg-danger ms-2">{{ tab.badge }}</span>
                {% endif %}
            </a>
        {% endif %}
    {% endfor %}
</div>
