{% load erieiron_common_tags %}
<div class="list-group" role="tablist">
    <h3 style="white-space: nowrap;">{{ sidebar_title }}</h3>
    {% for tab in tabs|dedupe_divers %}
        {% if tab.is_divider %}
            <div class="list-group-item disabled text-center">
                <hr class="my-2">
            </div>
        {% else %}
            <a class="
                list-group-item 
                list-group-item-action{% if tab.slug == active_tab %} active{% endif %}
                {% if not tab.available %}
                disabled
                {% endif %}
                "
               style="white-space: nowrap"
               id="{{ tab.slug }}-tab"
                {% if tab.available %}
                   href="{{ tab.url }}"
               {% else %}
                   href="#"
               {% endif %}
            
            >
                {{ tab.label }}
                {% if tab.badge %}
                    <span class="badge bg-danger ms-1">{{ tab.badge }}</span>
                {% endif %}
            </a>
        {% endif %}
    {% endfor %}
</div>
