DEBUG = True
DEBUG_SQL = False

BASE_URL="http://localhost:8000"

AWS_ACCOUNT_ID=782005355493
AWS_DEFAULT_REGION_NAME="us-west-2"
DATABASES_AWS_SECRET = "ekkolab-db-dev-credentials"

asdf_DATABASE_ENGINE="django.db.backends.sqlite3"
asdf_DATABASE_NAME=":memory:"

AWS_BUCKET_ASSETS_RAW="ekko-assets-raw"
AWS_BUCKET_ASSETS_MEZZ="ekko-assets-mezz"
AWS_BUCKET_PHRASES_MEZZ="ekko-phrases-mezz"
AWS_BUCKET_PHRASES_WAVEFORM="ekko-phrases-waveform"
AWS_BUCKET_PROFILE_PHOTO="ekko-profile-photo"
AWS_BUCKET_PHRASES_RAWDATA="ekko-phrases-audiosegmentraw"

COGNITO_USER_POOL_ID="us-west-2_Axo0LpTxP"
COGNITO_CLIENT_ID="63alcri0otham92movs2dif615"
COGNITO_DOMAIN = "https://ekkolab-dev-userpool.auth.us-west-2.amazoncognito.com"

START_MESSAGE_QUEUE_PROCESSOR = True
