DEBUG = True
DEBUG_SQL = False

BASE_URL="http://localhost:8020"

AWS_ACCOUNT_ID=782005355493
AWS_DEFAULT_REGION_NAME="us-west-2"
DATABASES_AWS_SECRET = "erieiron-db-dev-credentials"

asdf_DATABASE_ENGINE="django.db.backends.sqlite3"
asdf_DATABASE_NAME=":memory:"

COGNITO_USER_POOL_ID="us-west-2_Axo0LpTxP"
COGNITO_CLIENT_ID="63alcri0otham92movs2dif615"
COGNITO_DOMAIN = "https://erieiron-dev-userpool.auth.us-west-2.amazoncognito.com"

START_MESSAGE_QUEUE_PROCESSOR = True
