{% load erieiron_common_tags %}


<tr class="pubsub-message-row" data-message-id="{{ message.id }}">
    <td>
        <span class="badge {% if message.status == 'PROCESSED' %}bg-success{% elif message.status == 'PROCESSING' %}bg-warning{% elif message.status == 'FAILED' %}bg-danger{% else %}bg-secondary{% endif %}">
            {{ message.status }}
        </span>
    </td>
    <td>
        <a href="{% url 'view_pubsub_message_details' message.id %}">{{ message.id|short_id }}</a>
    </td>
    <td>{{ message.message_type|label }}</td>
    <td>{{ message.env }}</td>
    <td>
        <span class="badge {% if message.priority == 'HIGH' %}bg-danger{% elif message.priority == 'NORMAL' %}bg-secondary{% else %}bg-light text-dark{% endif %}">
            {{ message.priority }}
        </span>
    </td>
    <td>{{ message.created_at|date:"m/d/Y h:i:s a" }}</td>
</tr>