{% load erieiron_common_tags %}

<table class="table table-striped">
    <thead>
    <tr>
        <th nowrap=true>Business Name</th>
        <th>Charter</th>
        <th>Source</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>
    {% for business in businesses %}
        <tr>
            <td nowrap=true><a href="{% url "view_business" business.id %}">{{ business.name|title }}</a></td>
            <td>{{ business.summary|default_if_none:"" }}</td>
            <td>{{ business.source|label }}</td>
            <td>{{ business.status|label }}</td>
        </tr>
    {% empty %}
        <tr>
            <td colspan="4" class="text-muted text-center">No businesses found.</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
