{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Sid": "IAMPermissions",
      "Effect": "Allow",
      "Action": [
        "iam:PassRole",
        "iam:ListAttachedRolePolicies",
        "iam:GetRole",
        "iam:ListRoles",
        "iam:GetRolePolicy",
        "iam:ListRolePolicies",
        "iam:CreateRole",
        "iam:TagRole",
        "iam:AttachRolePolicy",
        "iam:PutRolePolicy",
        "iam:CreateServiceLinkedRole"
      ],
      "Resource": [
        "arn:aws:iam::${account_id}:role/*",
        "arn:aws:iam::${account_id}:policy/*"
      ]
    },
    {
      "Sid": "ECSECRLogsFullAccess",
      "Effect": "Allow",
      "Action": [
        "ecs:*",
        "logs:*",
        "ecr:*",
        "elasticloadbalancing:*"
      ],
      "Resource": "*"
    },
    {
      "Sid": "EC2RDSDescribeAccess",
      "Effect": "Allow",
      "Action": [
        "ec2:*",
        "rds:Describe*",
        "rds:ListTagsForResource"
      ],
      "Resource": "*"
    },
    {
      "Sid": "SecretsManagerAccess",
      "Effect": "Allow",
      "Action": [
        "secretsmanager:CreateSecret",
        "secretsmanager:PutSecretValue",
        "secretsmanager:GetSecretValue",
        "secretsmanager:DescribeSecret",
        "secretsmanager:ListSecrets"
      ],
      "Resource": "arn:aws:secretsmanager:${region}:${account_id}:secret:*"
    },
    {
      "Sid": "AppRunnerAndCognito",
      "Effect": "Allow",
      "Action": [
        "apprunner:*",
        "cognito-idp:*",
        "access-analyzer:*"
      ],
      "Resource": "*"
    },
    {
      "Sid": "DynamoDBAndLambda",
      "Effect": "Allow",
      "Action": [
        "dynamodb:*",
        "lambda:InvokeFunction"
      ],
      "Resource": [
        "arn:aws:dynamodb:*:${account_id}:table/*",
        "arn:aws:dynamodb:${control_plane_region}:${control_plane_account_id}:table/opentofu-locks",
        "arn:aws:lambda:${region}:${account_id}:function:*"
      ]
    },
    {
      "Sid": "S3BackendBucketAccess",
      "Effect": "Allow",
      "Action": [
        "s3:GetBucketLocation",
        "s3:GetBucketVersioning",
        "s3:GetBucketAcl",
        "s3:GetBucketCORS",
        "s3:GetBucketWebsite",
        "s3:GetBucketLogging",
        "s3:ListBucket",
        "s3:ListBucketVersions",
        "s3:GetBucketTagging",
        "s3:GetBucketNotification",
        "s3:GetBucketPolicy",
        "s3:ListBucketMultipartUploads"
      ],
      "Resource": [
        "${state_bucket_arn}"
      ]
    },
    {
      "Sid": "S3BackendObjectAccess",
      "Effect": "Allow",
      "Action": [
        "s3:GetObject",
        "s3:GetObjectVersion",
        "s3:GetObjectAcl",
        "s3:GetObjectTagging",
        "s3:GetObjectVersionAcl",
        "s3:GetObjectVersionTagging",
        "s3:PutObject",
        "s3:PutObjectAcl",
        "s3:PutObjectTagging",
        "s3:DeleteObject",
        "s3:DeleteObjectVersion",
        "s3:RestoreObject",
        "s3:ListMultipartUploadParts",
        "s3:AbortMultipartUpload"
      ],
      "Resource": [
        "${state_bucket_objects_arn}"
      ]
    },
    {
      "Sid": "SSMParameterAccess",
      "Effect": "Allow",
      "Action": [
        "ssm:*"
      ],
      "Resource": [
        "arn:aws:ssm:${region}:${account_id}:parameter/erieiron/*"
      ]
    },
    {
      "Sid": "Route53Access",
      "Effect": "Allow",
      "Action": [
        "route53:ChangeResourceRecordSets",
        "route53:ListHostedZonesByName",
        "route53:ListHostedZones",
        "route53:ListResourceRecordSets"
      ],
      "Resource": "*"
    },
    {
      "Sid": "ACMAccess",
      "Effect": "Allow",
      "Action": [
        "acm:DescribeCertificate",
        "acm:ListCertificates",
        "acm:GetCertificate",
        "acm:RequestCertificate",
        "acm:AddTagsToCertificate"
      ],
      "Resource": "*"
    }
  ]
}
