{% load erieiron_common_tags %}
<h2 class="mb-3">
    Iteration {{ iteration.version_number }}
    {% if iteration.achieved_goal %}
        <span class="badge bg-success ms-2">Goal Achieved</span>
    {% elif iteration.evaluation_json %}
        <span class="badge bg-danger ms-2">Failed</span>
    {% else %}
        <span class="badge bg-info ms-2">In Progress</span>
    {% endif %}
</h2>
{% if iteration.evaluation_json %}
    <p>{{ iteration.evaluation_json.summary|markdown }}</p>

    {% if iteration.evaluation_json.error %}
        <hr>
        {% include "_error_stack.html" with error=iteration.evaluation_json.error %}
    {% endif %}

    {% if iteration.evaluation_json.test_errors %}
        <hr>
        {% include "_test_errors.html" with test_errors=iteration.evaluation_json.test_errors %}
    {% endif %}
{% else %}

    {% if iteration_to_modify %}
        <h5 class="mb-3">Routing</h5>
        {% if previous_iteration and iteration_to_modify.id|not_eq:previous_iteration.id %}
            <p>
                Iteration {{ iteration.version_number }} started by <b>rolling back to
                <a href="{% url 'view_self_driver_iteration' iteration_to_modify.id %}">
                    Iteration {{ iteration_to_modify.version_number }}'s code
                </a>
            </b>.
                {% if previous_iteration and previous_iteration.evaluation_json %}
                    {{ previous_iteration.evaluation_json.rollback_reason|swizzle_current }}
                {% endif %}
            </p>
        {% else %}
            <p>
                Iteration {{ iteration.version_number }} started with the previous iteration's code
                (<a href="{% url 'view_self_driver_iteration' iteration_to_modify.id %}"
            >Iteration {{ iteration_to_modify.version_number }}</a>)
            </p>
        {% endif %}
    {% endif %}

    <hr>
    <b class="mb-3">Iteration {{ iteration_to_modify.version_number }}'s evaluation and subsequent routing path</b>
    {{ iteration_to_modify.evaluation_json.summary|markdown }}
    {{ iteration.routing_json|json_to_div:"classification,recovery_path,recovery_path_explanation" }}
{% endif %}
