{% load erieiron_common_tags %}

<div class="tab-pane-content">
    <p>
        <span class="badge {% if task.status == "COMPLETE" %}bg-success{% elif task.status == "BLOCKED" %}bg-danger{% else %}bg-secondary{% endif %}">
            {{ task.status }}
        </span>
        {% if task.role_assignee %}
            &nbsp;Owner: {{ task.role_assignee|label }}
        {% endif %}
    </p>


    {% if task.completion_criteria %}
        <div class="markdown-container">
            <h5 class="mt-4">Completion Criteria</h5>
            <ol>
                {{ task.completion_criteria|json_to_pre }}
            </ol>
        </div>
    {% endif %}

    <hr>

    <div class="markdown-container">
        <h5 class="mt-4">Description</h5>
        {{ task.description|markdown }}
    </div>
</div>
