{% load erieiron_common_tags %}

<div class="tab-pane-content">
    <p>
        <div class="d-flex justify-content-between align-content-center">
            <h5 >{{ task.get_name }}</h5>
            <div style="height: 20px"  class=" me-2 badge d-flex align-content-center
                    {% if task.status == "COMPLETE" %}
                        bg-success
                    {% elif task.status == "BLOCKED" %}
                        bg-danger
                    {% elif task.status == "IN_PROGRESS" %}
                        bg-primary
                    {% else %}
                        bg-secondary
                    {% endif %}
                    
                pt-1 p-2"
            >{{ task.status }}</div>
        </div>

        {% if task.role_assignee %}
            &nbsp;Owner: {{ task.role_assignee|label }}
        {% endif %}
    </p>

    <div class="markdown-container">
        {{ task.description|markdown }}
    </div>

    {% if task.completion_criteria %}
        <div class="markdown-container">
            <h5 class="mt-4">Completion Criteria</h5>
            <ol>
                {{ task.completion_criteria|json_to_pre }}
            </ol>
        </div>
    {% endif %}


</div>
